version: '3'
services:
  wakeup_app:
    image: wakeup
    volumes:
      - /data/container_volumns/wakeup/mongo/data/db:/data/db

  wakeup_mongo:
    image: mongo
    volumes:
      - /data/container_volumns/wakeup/mongo/data/db:/data/db
    command: mongod --auth

  wakeup_redis:
    image: redis
    volumes:
      - /data/container_volumns/wakeup/redis/conf/redis_6379.conf:/usr/local/etc/redis/redis.conf
      - /data/container_volumns/wakeup/redis/data:/data