[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask-mongoengine = "*"
flask = "*"
mongoengine = "*"
redis = "*"
flask-script = "*"
ipdb = "*"
kafka-python = "*"
pyjwt = "*"
flask-bcrypt = "*"


[dev-packages]

